*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

body._lock {
    overflow: hidden;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 55px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    padding: 0 30px;
    min-height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.menu__icon {
    display: none;
}

.menu__list > li {
    margin: 0 0 0 33px;
}

.menu__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
    transition: all .3s ease;
}


.menu__link:is(:link, :active, :visited).active,
.menu__link:hover {
    color: #FF6464;
}

.hero   {
    padding: 228px 0 71px 0;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    max-width: 500px;
    margin-right: 20px;
}

.hero__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
    max-width: 445px;
}

.hero__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    max-width: 497px;
    margin-bottom: 38px;
}

.btn {
    width: 208px;
    height: 47px;
    background-color: #FF6464;
    border-radius: 2px;

    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.post {
    padding: 26px 0 32px 0;
    background-color: rgba(237, 247, 250, 1);
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.post__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__inner .post__inner-item + .post__inner-item {
    margin-left: 20px;
}

.post__inner-item {
    background-color: #fff;
    flex-basis: 418px;
    max-width: 418px;
    padding: 24px 21px 30px 23px;
}

.post__item-title,
.blog__item-title {
    max-width: 374px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 17px;
}

.post__item-data,
.blog__item-data {
    margin-bottom: 11px;
}

.post__item-data  span,
.blog__item-data span {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.post__item-data  span + span,
.blog__item-data span + span,
.detail__descr span + span {
    margin-left: 30px;
}

.post__item-text p,
.blog__item-text p {
    max-width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.works {
    padding: 15px 0 83px 0;
}

.works__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 22px;
}

.works__item {
    display: flex;
    padding: 31px 0;
    border-bottom: 1px solid #E0E0E0;
}


.works__item-img {
    margin-right: 18px;
}

.works__item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 12px;
    color: #21243D;
}

.works__item-descr {
    margin-bottom: 17px;
}

.works__item-descr span + span {
    margin-left: 26px;
    background-color: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.works__item-descr > span {
    width: 62px;
    height: 25px;
    background-color: #142850;
    border-radius: 16px;
    padding: 0 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
}

.works__item-text p,
.detail__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

/* Page Blog */

.blog,
.work__page {
    padding: 160px 0 53px 0;
}

.blog__item {
    padding: 31px 0;
    border-bottom: 1px solid #E0E0E0;
}

.blog__item-text p {
    max-width: 100%;
}
/* /Page Blog */

/* Page Works */
.work__page .title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 55px;
}
/* /Page Works */

/* Page Work-detail */

.detail {
    padding: 148px 0 27px 0;
}

.detail__wrapper {
    display: flex;
    flex-direction: column;
}

.detail__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
    margin-bottom: 30px;
}

.detail__descr {
    margin-bottom: 23px;
}

.detail__descr span {
    width: 62px;
    height: 25px;
    background: #FF7C7C;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0 10px;
}

.detail__descr span + span {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
    background-color: inherit;
}

.detail__text {
    margin-bottom: 46px;
}

.detail__title-1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
    margin-top: 54px;
}

.detail__title-2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 20px;
}

.m--bottom {
    margin-bottom: 27px;
}

/* /Page Work-detail */

.footer {
    height: 182px;
    padding: 51px 0 54px 0;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social {
    margin-bottom: 26px;
}

.footer__social a + a  {
    margin-left: 35px;
}

.footer__copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}


.pt--none {
    padding-top: 0;
}

@media screen and (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list > li {
        padding: 10px 0

    }
}

@media screen and (max-width: 767px) {
    .header__wrapper {
        padding: 0;
    }

    .hero {
        padding: 85px 0 60px 0;
    }

    .menu__icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .3s ease;
        background-color: #000;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__link {
        color: #fff;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transform: left .3s ease;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: 2;
    }

    .menu__list > li {
        margin: 0 0 35px 0;
    }

    .menu__list > li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        font-size: 30px;
        padding: 15px 0;
    }

    .hero__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .hero__img {
        order: -1;
        margin-bottom: 34px;
    }

    .hero__title {
        max-width: 100%;
        text-align: center;
        margin-bottom: 21px;
        font-size: 32px;
    }
    
    .hero__descr {
        max-width: 100%;
        text-align: center;
        margin-bottom: 27px;
    }

    .post__inner {
        flex-direction: column;
    }

    .post__inner .post__inner-item + .post__inner-item {
        margin-left: 0;
        margin-top: 20px;
    }

    .post__inner-item {
        max-width: 100%;
        flex-basis: 100%;
    }
    .works__item {
        flex-direction: column;
    }
    /* page blog */
    .blog {
        padding-top: 80px;
    }
    .blog__title {
        margin-bottom: 18px;
    }

    .blog__item {
        padding: 18px 0;
    }

    .blog__item-title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 5px;
        max-width: 100%;
    }

    .blog__item-data {
        margin-bottom: 5px;
    }

    .blog__item-data span + span {
        margin-left: 16px;
    }

    .blog__item-data span {
        font-size: 16px;
        line-height: 24px;
    }
    /* page works */
    .works {
        padding-top: 80px;
    }
    /* page detail */
    .detail {
        padding-top: 80px;
    }
}


@media screen and (max-width: 475px) {
    .hero {
        padding: 85px 0 60px 0;
    }
    .post__header {
        justify-content: center;
    }

    .post__header-link {
        display: none;
    }
    .post__header-title {
        font-size: 18px;
        line-height: 40px;
    }

    .post__item-title {
        font-size: 22px;
        line-height: 30px;
        color: #21243D;
        margin-bottom: 12px;
    }

    .post__item-data  span + span {
        margin-left: 24px;
    }

    .post__item-data  span {
        font-size: 16px;
        line-height: 24px;
    }

    .works__item {
        padding-bottom: 17px;
    }

    .works__title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .works__item-img {
        margin-right: 0;
        margin-bottom: 17px;
    }

    .works__item-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 17px;
    }

    .works__item-descr {
        margin-bottom: 24px;
    }

    .works__item-descr span {
        font-size: 16px;
    }

    .works__item-descr span + span {
        font-size: 16px;
        line-height: 24px;
        margin-left: 22px;
    }
    /* page blog */
    .blog__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    /* page works */
    .works .work__title {
        font-size: 30px;
        text-align: left;
        margin-bottom: 13px;
    }

    /* page detail */
    .detail__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 23px;
    }

    .detail__text {
        margin-bottom: 23px;
    }

    .detail__descr span + span {
        margin-left: 15px;
        padding: 0;
    }

    .detail__title-1 {
        font-size: 26px;
        margin-top: 23px;
    }

    .detail__title-2 {
        font-size: 20px;
        margin-top: 5px;
    }
}